version: "3"
services:
  devops:
    image: satishjagana:cyient:latest
    ports:
      - "9000:80"
    volumes:
      - Cyientvolume

  chatgpt:
    image: satishjagana/chatgpt:latest 
    ports:
      - "9001:80"
    volumes:
      - chatgptvolumes

deploy:
  replicas: 3
