version: "3"
services:
  devops:
    image: satishjagana:cyient:latest
    ports:
      - "8000:80"
    volumes:
      - Cyientvolume

  chatgpt:
    image: chatgptimage:latest
    ports:
      - "8001:80"
    volumes:
      - chatgptvolumes

deploy:
  replicas: 3

